<section class="header">
    <h1>To do list</h1>
</section>
<section class="content-container">
    <mat-card class="content-inner">
        <div class="form-container">
            <form #form="ngForm" (ngSubmit)="OnFormSubmit(form)">
                <mat-form-field class="field-group" appearance="fill">
                    <mat-label>To-do title</mat-label>
                    <input
                        ngModel
                        #todoTitleField="ngModel"
                        matInput
                        type="text"
                        placeholder="Enter your To-do title here"
                        name="title"
                        required
                        minlength="2"
                    />
                </mat-form-field>
                <button type="submit" mat-flat-button color="accent">
                    Add
                </button>
            </form>
            <div *ngIf="todoTitleField.invalid && showValidationErrors">
                <p *ngIf="todoTitleField.errors!.required">
                    This field can't be empty
                </p>
                <p *ngIf="todoTitleField.errors!.minlength">
                    This field must contains at least 2 characters
                </p>
            </div>
        </div>
        <div class="todos-container">
            <app-todo-item
                *ngFor="let todo of todos"
                [todo]="todo"
                (todoClicked)="ToggleCompleted(todo)"
                (editSubmitted)="EditTodo(todo, $event)"
                (deleteClicked)="DeleteTodo(todo)"
            ></app-todo-item>
        </div>
    </mat-card>
</section>
