.todo-item {
    display: flex;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background: #393939;

        .todo-status-column .todo-status-wrapper {
            background: #69f0af55;

            .todo-status-icon {
                opacity: 0.4;
            }
        }
    }

    &.completed .todo-status-column .todo-status-wrapper {
        background: #69f0ae;

        .todo-status-icon {
            opacity: 1;
        }
    }

    .todo-status-column {
        padding-right: 10px;
        display: flex;
        align-items: center;

        .todo-status-wrapper {
            border: 2px solid #69f0ae;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            transition: all 0.2s;

            .todo-status-icon {
                opacity: 0;
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }

    .todo-description {
        padding: 0 10px;
        display: flex;
        flex-grow: 1;
        align-items: center;

        p {
            margin-bottom: 0;
        }

        form,
        .field-group {
            width: 100%;
        }
    }

    .actions-container {
        padding-left: 10px;

        button {
            min-width: 45px;
            padding: 0 6px;
            margin: 0 3px;
        }
    }
}
